.hr {
  color: hsl(37, 10%, 50%);
  border: none;
  border-bottom: 1px solid;
  text-align: center;
  height: 5px;
  overflow: visible;
}

.hr:after {
  color: hsl(37, 10%, 85%);
  background: hsl(0, 7%, 13%);
  content: '♰';
  position: relative;
  font-size: 28px;
  top: -16px;
  padding: 8px;
}
