.die {
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  position: absolute;
  border: 1px solid transparent;
}

.die[data-selected='true'] {
  border: 1px solid #3075ab;
  box-shadow: 0 0px 30px #3075ab;
}
