@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

[data-reach-dialog-content] {
  width: 75vw;
  max-width: 800px;
}
