@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@200;400;600;900&display=swap');

@font-face {
  font-family: 'QuiteMagicalRegular';
  src: url('../public/QuiteMagicalRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Faith Collapsing';
  src: url('../public/FaithCollapsing.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

[data-reach-dialog-content] {
  width: 75vw;
  max-width: 800px;
}

[data-reach-dialog-overlay] {
  z-index: 2000;
}

:root {
  --amplify-primary-color: #660099;
  --amplify-primary-tint: #5f008f;
  --amplify-primary-shade: #7a00b8;
}
