.tab {
  grid-area: 1 / 1;
  transition: all 0.3s 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: opacity, transform;
  z-index: 1;
}

.tab[data-hidden='true'] {
  transition-delay: 0s;
  opacity: 0;
  transform: translateY(25px);
  z-index: 0;
  height: 0;
  overflow: hidden;
}
